@tailwind base;
@tailwind components;
@tailwind utilities;


.text__gradient_primary{
    background: #FDC632;
    background: linear-gradient(to bottom, #FDC632 43%, #FF6B5A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text__gradient_secundary{
     background: #7B4FFF;
    background: linear-gradient(to bottom, #7B4FFF 43%, #FF81FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__front, .card__back{
    backface-visibility: hidden;
    transition: .4s;
    transform: perspective(200px) rotateY(0deg);
}

.card__back {
  transform: perspective(200px) rotateY(0deg);
  backface-visibility: visible;
}

.card__flip-front {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: perspective(200px) rotateY(180deg);
    backface-visibility: visible;
}

.card__flip-back {
  transform: perspective(200px) rotateY(180deg);
}